// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(66, 67, 62); //modified
$light-gray: rgba(66, 67, 62, 0.5); //modified


// new colors
$mint: rgb(111, 188, 180);
$light-mint: rgba(200, 236, 233, 0.5);
$purple: rgb(79, 71, 186);
$light-purple: rgba(79, 71, 186, 0.5);
$dark-gray: rgb(66, 67, 62);
$medium-gray: rgba(66, 67, 62, 0.6);
