// Specific CSS for your home-page
.landing-banner-one {
  height: 50vh;
  padding: 2vw;
}

.landing-image-box {
  width: 30vw;
  height: 30vh;
    }

.landing_image {
  max-width: 45vw;
}

.landing-banner-two {
  //height: 60vh;
  padding: 1vw;
  background-color: white;
}

.landing-banner-three {
  //height: 60vh;
  padding: 10vh 2vw 5vh 2vw;
  background-color: $light-gray;
}

.landing-banner-four {
  margin-top: 3vh;
  padding: 1vh 3vw;
  background-color: $light-mint;
}

.landing-card {
  height: 290px;
  width: 330px;
  background-color: $light-mint;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  padding: $md;
  box-shadow: 4px;
}

.process {
  margin-top: 20px;
}

.process-match {
  margin-top: 40px;
}

#youtube-video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8vh;
}

iframe {
  width: 50vw;
  height: 28.125vw; /* 100/56.25 = 560/315 = 1.778 */
}
