// Specific CSS for your home-page
.landing-banner-one {
  height: 50vh;
  padding: 2vw;
}

.landing-image-box {
  width: 30vw;
  height: 30vh;
    }

.landing_image {
  max-width: 45vw;
}

.landing-banner-two {
  //height: 60vh;
  padding: 1vw;
  background-color: white;
}

.landing-banner-three {
  //height: 60vh;
  padding: 10vh 2vw;
  background-color: $light-gray;
}

.landing-card {
  height: 40vh;
  width: 20vw;
  background-color: $light-mint;
  margin: 5vw;
  border-radius: 4px;
  text-align: center;
  padding: $md;
  box-shadow: 4px;
}
