  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
    <footer class="pt-5" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
            <h5 class="mb-4 font-weight-bold">ABOUT US</h5>
            <p class="mb-4">Gestartet von Ärzten und Entwicklern mit dem Ziel die Hilfsbereitschaft im Gesundheitsbereich zu bündeln, im Kampf gegen die Corona Pandemie.</p>
            <ul class="f-address">
<!--               <li>
                <div class="row">
                  <div class="col-1"><i class="fas fa-map-marker"></i></div>
                  <div class="col-10">
                    <h6 class="font-weight-bold mb-0">Address:</h6>
                    <p>Berlin</p>
                  </div>
                </div>
              </li> -->
              <li>
                <div class="row">
                  <div class="col-1"><i class="far fa-envelope"></i></div>
                  <div class="col-10">
                    <h6 class="font-weight-bold mb-0">Interesse mitzuwirken?</h6>
                    <p><a href="#">hello@coronasolidarity.com</a></p>
                  </div>
                </div>
              </li>
              <!-- <li>
                <div class="row">
                  <div class="col-1"><i class="fas fa-phone-volume"></i></div>
                  <div class="col-10">
                    <h6 class="font-weight-bold mb-0">Phone:</h6>
                    <p><a href="#">+XX (0) XX XX-XXXX-XXXX</a></p>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
            <h5 class="mb-4 font-weight-bold">FRESH TWEETS</h5>
            <ul class="f-address">
              <li>
                <div class="row">
                  <div class="col-1"><i class="fab fa-twitter"></i></div>
                  <div class="col-10">
                    <p class="mb-0"><a>@coronasolidarity </a> Unterstütze uns bei unserer Arbeit. 100% remotely.</p>
                    <label>Vor 30 Minuten</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-1"><i class="fab fa-twitter"></i></div>
                  <div class="col-10">
                    <p class="mb-0"><a>@coronasolidarity </a> Vielen Dank an alle Teilnehmer*Inner an unserer vergangen Info-Veranstaltung!</p>
                    <label>Vor 2 Tagen</label>
                  </div>
                </div>
              </li>
             <!--  <li>
                <div class="row">
                  <div class="col-1"><i class="fab fa-twitter"></i></div>
                  <div class="col-10">
                    <p class="mb-0"><a href="#">@coronasolidarity </a> You like the idea? Get in touch with us!</p>
                    <label>2 Hours Ago</label>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
            <h5 class="mb-4 font-weight-bold">LATEST UPDATES</h5>
            <ul class="recent-post">
              <li>
                <label class="mr-3">10 <br><span>OKT</span></label>
                <span>CoronaSolidarity sucht weiter Unterstützung für den kommenden Winter!</span>
              </li>
              <li>
                <label class="mr-3">01 <br><span>OKT</span></label>
                <span>CoronaSolidarity Info-Session: Sign-up über hello@coronasolidarity.com</span>
              </li>
             <!--  <li>
                <label class="mr-3">5 <br><span>DEC</span></label>
                <span>/span>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
            <h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address">
                <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
            </div>
            <ul class="social-pet mt-4">
              <li><a href="https://www.facebook.com/" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/" title="twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://accounts.google.com/Login/signinchooser?hl=de&flowName=GlifWebSignIn&flowEntry=ServiceLogin" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="https://www.instagram.com/" title="instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- Copyright -->
    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <div class="text-center">
              &copy; <strong>2020 CoronaSolidarity</strong> | Alisa Siegmund, Jan Westerhoff, Jonathan Morrice und Mike Yousef | All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
