<div class="d-flex justify-content-center">
  <div class="card-deck mb-3 text-center col-md-5">
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="color:#6FBCB5">
          <span class="material-icons">check_circle_outline</span>
        </div>
        <div class="card-body">
          <p class="lead">Vielen Dank, dass Sie uns kontaktieren! </p>
          <p>Ihre Informationen wurden erfolgreich in unsere Datenbank aufgenommen - in Kürze erhalten Sie eine Bestätigungsemail mit Details zum weitern Verlauf.</p>
          <%#= link_to "Als Helfer:in melden", new_helper_path, class: 'btn-mint' %>
        </div>
      </div>
    </div>

</div>

