.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-bottom: 15px;
  margin-right: 10px;
}

#title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}
